/* your styles will go here!! */
 
body {
    background-color: #FCFBF4;
    margin: 0%;
}

a{
    text-decoration: none;

}

* {
    font-family: Rockwell;
}

a.title {
    position: relative;
    display: flex;
    justify-content: center;
    color: black;
    font-size: xxx-large;
    font-weight: bolder;
    font-family: Rockwell;
    margin-top: 2%;
}

nav a {
    color: black;
    text-decoration: none;
    font-size: 20px;
    font-family: Rockwell;
    margin: none;
    padding: 2%;
}

.header1 {
    display: flex;
    align-items: center; /* Vertically center the content */
}

.header1 h3 {
    flex: 1; /* Allow the heading to grow and take available space */
    margin: 0; /* Remove default margin */
}

.header1 p {
    flex: 2; /* Allow the paragraph to grow and take more space */
    margin: 0; /* Remove default margin */
}

.nav-container {
    text-align: center;
}

nav {background-color: #FF5551;
    padding: 40px;
}

nav :hover { background: #FCFBF4;
    padding: 40px;
}

#header{
    font-family: Rockwell;
    font-size: 15px;
    text-align: center;
    margin-bottom: 0px;
}

#header {
    text-align: center;
    margin-bottom:20px;
}
#imgone {
    max-width: 100%;
    max-height: 800px;
    overflow-y: scroll;
    margin-top: 20px;
}
    
h3.header1 {
    margin: 2%;
    margin-top:5%;
    font-family: Rockwell;
}

#header1 {
    font-size: xxx-large;
    padding-top: 3%;
    padding-bottom: 3%;
    padding-left: 5%;
    text-align: center;
    font-family: Rockwell;
}

p.text1{
    
    margin: 5%;
    font-family: Rockwell;
    font-size: medium;
}

img.imgtwo {
    width: 100%;
}

#cap-one {
    font-style: italic;
    font-family: Rockwell;
    font-size: small;
    display:inline-block;
    text-decoration:none;
    color:black;
}

#p2{
    margin: 5%;
    font-family: Rockwell;
    font-size: large;
    text-align: center;
}

footer {
    background-color: #FF5551;
    font-family: Rockwell;
    height: 30px;
}




<!--TEAMS-->




h1, #MLteams {
    text-align: center;
    font-family: Rockwell;
}

#teamsopener {
    text-align: center;
}

#allteams {
    text-align: center;
    padding-left: 8%;
    padding-right: 8%;
}

.hteams{
    font-family: Rockwell;
    padding-left: 5%; 
}

#imgoneteams {
    float: left;
    max-width: 40%; 
    margin-top: 2%;
    padding-right: 2%;
    height: 475px;
    width: relative;
}

.alteams {
   display: block;
   position: relative;
   margin: auto;
   flex-wrap: nowrap;
}

.pteams {
    padding-left: 5%;
    padding-right: 5%;
    font-size: medium;
    text-align: left;
    display: block;
}

ul {
    list-style: none;
    font-family: Rockwell;
    font-weight: bold;
}

li {
    padding-top: 1%;
    padding-bottom: 1%
}

.allal {
    display: flex;
    justify-content: space-around;
    align-items: center; /* Vertically centers content */
    height: 200px; /* Optional: Set a height for the container */
    padding-top: auto;
    padding-right: 5%;
  
}

#west1 {
    flex: 1; /* Allow the heading to grow and take available space */
}

#central1 {
    flex: 1; /* Allow the heading to grow and take available space */
}

#east1 {
    flex: 1; /* Allow the heading to grow and take available space */
}

#imgtwoteams {
    float: right; 
    margin-top: 5%;
    padding-right: 2%;
    height: 475px;

}

.nlteams {
    display: block;
    margin: auto;
    flex-wrap: nowrap;
    padding-top: 5%;
}

.allnl {
    display: flex;
    justify-content: space-around;
    align-items: center; /* Vertically centers content */
    height: 200px; /* Optional: Set a height for the container */
    width: 700px;
    padding-top: auto;
    padding-left: 5%;
}

#west2 {
    flex: 1; /* Allow the heading to grow and take available space */
}

#central2 {
    flex: 1; /* Allow the heading to grow and take available space */
}

#east2 {
    flex: 1; /* Allow the heading to grow and take available space */
}


<!--PLAYING-->


h1, #rules {
    margin-top: 5%;
    text-align: center;
    font-family: Rockwell;
}

.imgfield {
    max-width: 50%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 4%;
    margin-bottom: 3%;
    float: right;
}

.play1 {
    margin-left: 5%;
    margin-right: 5%;
}

.playhead {
    margin-left: 5%;

}

.playhead1 {
    margin-left: 5%;
}

.play2 {
    margin-left: 5%;
}

.container1 {
    height: 100px;
    margin: 4%;
}

#play3 {
    margin-left: 8%;
    margin-right: 8%;
    margin-top: 5%;
    margin-bottom: 5%;
    text-align: center;
    font-size: large;
}

.imggraphic {
    float: right;
    max-width: 50%;
    margin-left: 5%;
    margin-right: 5%;
}

.play4 {
    margin-left: 5%;
    margin-right: 5%;
    text-align: justify;
}

.play5 {
    margin-left: 5%;
    margin-right: 5%;
}


<!--HISTORY-->


.hhistory {
    font-family: Rockwell;
    padding-left: 5%; 
}

#hob {
    margin-top: 5%;
    text-align: center;
    font-family: Rockwell;
}

#hopener {
    margin-left: 8%;
    margin-right: 8%;

}



* {
    box-sizing: border-box;
  }
  
  /* Set a background color */
  body {
    font-family: Rockwell;
  }
  
  /* The actual timeline (the vertical ruler) */
  .timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  /* The actual timeline (the vertical ruler) */
  .timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: orange;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
  }
  
  /* Container around content */
  .container {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
  }
  
  /* The circles on the timeline */
  .container::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: white;
    border: 4px solid #FF9F55;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
  }
  
  /* Place the container to the left */
  .left {
    left: 0;
  }
  
  /* Place the container to the right */
  .right {
    left: 50%;
  }
  
  /* Add arrows to the left container (pointing right) */
  .left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid white;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent white;
  }
  
  /* Add arrows to the right container (pointing left) */
  .right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }
  
  /* Fix the circle for containers on the right side */
  .right::after {
    left: -16px;
  }
  
  /* The actual content */
  .content {
    padding: 20px 30px;
    background-color: white;
    position: relative;
    border-radius: 6px;
  }
  
  /* Media queries - Responsive timeline on screens less than 600px wide */
  @media screen and (max-width: 600px) {
  /* Place the timelime to the left */
    .timeline::after {
      left: 31px;
    }
  
  /* Full-width containers */
    .container {
      width: 100%;
      padding-left: 70px;
      padding-right: 25px;
    }
  
  /* Make sure that all arrows are pointing leftwards */
    .container::before {
      left: 60px;
      border: medium solid white;
      border-width: 10px 10px 10px 0;
      border-color: transparent white transparent transparent;
    }
  
  /* Make sure all circles are at the same spot */
    .left::after, .right::after {
      left: 15px;
    }
  
  /* Make all right containers behave like the left ones */
    .right {
      left: 0%;
    }
  }